myEnterpriseDomain/src/main/resources/schemas/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:include schemaLocation="Gender.xsd" />
	<xs:include schemaLocation="SkillArray.xsd" />
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="firstName" type="xs:string" minOccurs="0" />
				<xs:element name="secondName" type="xs:string"/>
				<xs:element name="email" type="xs:string"/>
				<xs:element name="gender" type="Gender"/>
                <xs:element name="skillArray" type="SkillArray"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>