myEnterpriseDomain/src/main/resources/schemas/Skill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ProgramingLanguage.xsd"/>
    <xs:include schemaLocation="SkillLevel.xsd"/>
    <xs:complexType name="Skill">
        <xs:sequence>
            <xs:element name="language" type="ProgramingLanguage"/>
            <xs:element name="level" type="SkillLevel"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>